.article{
    background-color: brown;
    width: 60%;
    padding-top: 10px;
    padding-left: 10px;
}
.preview{
    width: 35%;
    background-color: aquamarine;
}
.game-article-container{
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 10px;
}
.search-container {
    margin: 20px;
}

.genre-list {
    list-style: none;
    padding: 0;
}

.genre-list li {
    margin-bottom: 10px;
}

#search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#search-button:hover {
    background-color: #0056b3;
}
.search-wrapper{
    display: flex;
    
}